body {

   background: #ffffff;
}

p {
    text-align: center;
    
}

em strong {

    color: red;
}


.titulo-principal{
    padding-left: 30px;
}

#banner {

    width: 100%;
}

.principal{
    background:#cccccc ;
    padding: 20px;
}

.titulo-centralizado{

    text-align: center;
}

#mission {

    font-size: 20px;
}

ul{

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{

    width: 50%;
}


.diferenciales{
    background: #ffffff;
}

.items{
    font-style: italic;
}